ul,
p,
h1,
h5,
h6,
img {
  margin: 0;
}

body {
  overflow-x: hidden;
}

.main {
  background-image: url(./assets/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: center;
}

.wrapper-nav {
  background-color: #00000080;
}

.logo {
  font-weight: bold;
  font-size: x-large;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding-left: 3rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: small;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 9.5rem;
}

.hero h1 {
  font-weight: bold;
  font-size: xxx-large;
  margin-bottom: 1rem;
}

.hero p {
  font-size: larger;
  margin-bottom: 1.5rem;
}

.hero button {
  background-color: #ffb548;
  border: none;
  font-weight: bolder;
  font-size: medium;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.scroll {
  display: flex;
  padding-top: 12rem;
  flex-direction: column;
  align-items: center;
}

.scroll p {
  color: white;
  font-size: smaller;
  font-weight: bold;
  margin-bottom: 3px;
}

.game {
  background-image: url(./assets/the-games-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.game .container {
  display: flex;
  flex-direction: row;
}

.slider {
  width: 70%;
  padding-top: 7.7rem;
}

.game-info {
  padding-left: 2.5rem;
  padding-top: 5.8rem;
  width: 30%;
  color: white;
}

.game-info p {
  font-size: medium;
}

.game-info h1 {
  font-size: xxx-large;
}

.feature {
  background-image: url(./assets/features.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.feature-content {
  display: flex;
}

.feature-content .timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.6rem;
}

.timeline .progress-ellips {
  width: 0.95rem;
  height: 0.95rem;
}

.timeline .progress {
  width: 0.2rem;
  height: 5rem;
}

.feature-hero {
  width: 60%;
}

.feature-tagline {
  width: 40%;
  padding-top: 9.5rem;
}

.feature-tittle {
  color: white;
}

.feature-tittle p {
  font-size: medium;
  padding-top: 2rem;
}

.feature-tittle h1 {
  font-size: xxx-large;
  margin-bottom: 3rem;
}

.feature-content h1 {
  font-size: large;
  color: #ffb548;
}

.feature-content p {
  color: white;
  padding-bottom: 1rem;
}

.tittle h1 {
  margin-bottom: 0.5rem;
}

.tittle-second {
  padding-top: 2.5rem;
}

.about {
  background-image: url(./assets/requirements.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.about-content {
  width: 50%;
  padding-top: 9rem;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2rem;
}

.wrapper .item h5 {
  color: #ffb548;
  padding-bottom: 0.5rem;
}

.wrapper .item p {
  color: white;
  padding-bottom: 1.5rem;
}

.score {
  background-image: url(./assets/top-score-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.score .container {
  display: flex;
  align-items: center;
}

.score-tagline {
  width: 40%;
  margin-left: 4rem;
}

.score-tagline h2 {
  color: white;
  font-size: 2.5rem;
}

.score-tagline p {
  color: white;
  padding-bottom: 1rem;
}

.score-tagline button {
  background-color: #ffb548;
  border: none;
  font-weight: bolder;
  font-size: medium;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.score-content {
  width: 60%;
  margin-left: 8rem;
  padding-top: 6rem;
}

.score-content .card1 {
  width: 22rem;
  margin-bottom: 1.5rem;
  background-color: #ffffff14;
  margin-left: 8rem;
  border-radius: 0.5rem;
}

.score-content .card2 {
  width: 22rem;
  margin-bottom: 1.5rem;
  background-color: #ffffff14;
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.score-content .card3 {
  width: 22rem;
  margin-bottom: 1.5rem;
  background-color: #ffffff14;
  margin-left: 7rem;
  border-radius: 0.5rem;
}

.profile {
  display: flex;
  flex-direction: column;
}

.profile .profile-header {
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
}

.profile .profile-tittle {
  display: flex;
  flex-direction: column;
  padding-left: 1.1rem;
}

.profile img {
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
}

.profile-tittle h6 {
  color: #ffb548;
  padding-bottom: 0.2rem;
}

.profile-tittle p {
  color: rgb(165, 161, 161);
  font-size: small;
}

.profile-description .description {
  color: white;
}

.profile-description {
  padding-top: 1.3rem;
  padding-left: 1rem;
  padding-bottom: 1.3rem;
  padding-right: 1rem;
}

.profile-description .date {
  color: rgb(165, 161, 161);
}

.newsletter {
  background-image: url(./assets/newsletter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.newsletter .container {
  display: flex;
  padding-top: 10rem;
}

.newsletter-hero {
  width: 40%;
}

.newsletter-content {
  width: 50%;
  padding-left: 5rem;
}

.newsletter-tagline h1 {
  color: white;
}

.newsletter-tagline p {
  color: rgb(128, 125, 125);
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  font-size: medium;
}

.newsletter-form {
  display: flex;
}

.newsletter-form input {
  background-color: #ffffff14;
  width: 15rem;
  height: 3.2rem;
  margin-right: 1.2rem;
  border: none;
  padding-left: 1.2rem;
  border-radius: 0.3rem;
}

.newsletter-form .subscribe {
  background-color: #ffb548;
  border: none;
  font-weight: bolder;
  font-size: medium;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 0.25rem;
}

.footer {
  background-color: black;
  width: 100vw;
  height: 8rem;
  padding-top: 3rem;
}

.footer h1 {
  font-size: medium;
  color: rgb(145, 142, 142);
  margin-top: 1.5rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.garis {
  border-top: 2px solid #938686;
  width: 82%;
  margin-left: 7.8rem;
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .scroll {
    padding-top: 16.5rem;
  }

  .hero {
    margin-top: 12rem;
  }

  .slider {
    padding-top: 13.5rem;
  }

  .game-info {
    padding-top: 11.5rem;
  }

  .feature-tagline {
    padding-top: 14.5rem;
  }

  .about-content {
    padding-top: 13rem;
  }

  .about-content {
    padding-top: 12.5rem;
    padding-left: 2rem;
  }

  .score-content {
    padding-top: 4rem;
  }

  .newsletter .container {
    padding-top: 13rem;
  }

  .garis {
    width: 87%;
    margin-left: 5rem;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .logo {
    font-size: large;
  }

  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .hero {
    margin-top: 17.5rem;
  }

  .scroll {
    display: none;
  }

  .game .container {
    display: flex;
    flex-direction: column;
    padding-top: 16rem;
    align-items: center;
  }

  .slider {
    width: 70%;
    padding-top: 2rem;
  }

  .game-info {
    width: 70%;
    padding: 0px;
  }

  .feature-hero {
    width: 0%;
  }

  .feature-tagline {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0rem;
    align-items: center;
  }

  .about .container {
    width: 100%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-content {
    width: 80%;
  }

  .score .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }

  .score-tagline {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .score-tagline button {
    display: none;
  }

  .score-content {
    width: 80%;
    margin-left: 0rem;
    padding-top: 3rem;
  }

  .newsletter-hero {
    width: 0%;
  }

  .newsletter-content {
    width: 90%;
    padding-left: 7rem;
    padding-top: 9rem;
  }

  .newsletter-form {
    display: flex;
  }

  .newsletter-form button {
    width: 53%;
  }

  .newsletter-tagline p {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .garis {
    border-top: 2px solid #938686;
    width: 82%;
    margin-left: 4rem;
  }

  .footer h1 {
    font-size: small;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  nav ul li {
    padding-left: 1rem;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: x-small;
  }

  .wrapper-nav .logo {
    font-size: small;
  }

  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .hero {
    margin-top: 13rem;
  }

  .hero h1 {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0rem;
  }

  .hero p {
    font-size: medium;
    margin-bottom: 1rem;
  }

  .scroll {
    display: none;
  }

  .hero button {
    font-weight: bold;
    font-size: small;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .game .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
  }

  .slider {
    width: 80%;
    padding-top: 1rem;
  }

  .game-info {
    padding-top: 1rem;
    width: 90%;
  }

  .game-info p {
    font-size: medium;
  }

  .game-info h1 {
    font-size: xx-large;
  }

  .feature {
    background-position: left top;
  }

  .feature-hero {
    width: 0%;
  }

  .feature-tagline {
    width: 80%;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .feature-tittle h1 {
    font-size: xx-large;
    margin-bottom: 1rem;
  }

  .feature-content h1 {
    font-size: medium;
    color: #ffb548;
  }

  .about {
    background-position: top left;
  }

  .about-content {
    width: 100%;
    padding-top: 8.5rem;
  }

  .wrapper .item h5 {
    color: #ffb548;
    padding-bottom: 0.5rem;
  }

  .wrapper .item p {
    color: white;
    padding-bottom: 1.5rem;
  }

  .score .container {
    display: flex;
    flex-direction: column;
  }

  .score-tagline {
    width: 80%;
    margin-left: 4rem;
  }

  .score-tagline h2 {
    font-size: 2rem;
  }

  .score-tagline p {
    display: none;
  }

  .score-tagline button {
    display: none;
  }

  .score-content {
    width: 80%;
    margin-left: 0rem;
    padding-top: 4rem;
  }

  .score-content .card1 {
    width: 16rem;
    margin-left: 0rem;
  }

  .score-content .card2 {
    width: 16rem;
    margin-left: 0rem;
  }

  .score-content .card3 {
    width: 16rem;
    margin-left: 0rem;
  }

  .newsletter .container {
    padding-top: 1rem;
  }

  .newsletter-hero {
    width: 0%;
  }

  .newsletter-content {
    width: 80%;
    padding-left: 2rem;
    padding-top: 10.5rem;
  }

  .newsletter-tagline p {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: medium;
  }

  .newsletter-tagline h1 {
    font-size: x-large;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
  }

  .newsletter-form input {
    margin-bottom: 1rem;
    width: 12.8rem;
  }

  .footer h1 {
    font-size: small;
    padding-left: 1rem;
  }

  .footer {
    height: 11rem;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
  }

  .garis {
    width: 68%;
    margin-left: 4rem;
  }
}
